<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Openings</title>
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

<div class="row text-center mt-5">
{% for job in jobs %}
  <div class="col-sm-6 mb-3 mb-sm-3" data-aos="fade-up">
    <div class="card">
      <div class="card-body" >
        <h5 class="card-title display-6 ">
            {{ job['Title'] }}
        </h5>
          <p class="card-text lead"><b>Location:</b>&nbsp {{ job['Job_Location'] }}</p>
         <p class="card-text lead"><b>Salary:</b>&nbsp <span>{{ job['Currency'] }}</span>{{ job['Salary'] }}</p>
          <a href="/jobs/{{job['ID']}}" class="btn btn-outline-primary w-25 btn-lg">Apply</a>
      </div>
    </div>

  </div>
    {% endfor %}
</div>
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        offset: 250,
        delay:0,
        duration:500,
    });
  </script>
</body>
</html>