<!DOCTYPE html>
<html lang="en">
<head>
        <title>{{ job.Title }} - Twerksberry Careers</title>
{% include 'header.html' %}

</head>
<body >
{% include 'navbar.html' %}
<h3 class="display-3 ms-3 px-2">{{ job.Title }}</h3>
<table class="ms-5">
    <tr>
        <td class="text-muted" colspan="5">Job Category :</td>
        <td colspan="2"> {{ job.Title }}</td>
    </tr>
    <tr>
        <td class="text-muted" colspan="5">Job Location :</td>
        <td colspan="2">{{ job['Job_Location']}}</td>
    </tr>
    <tr>
        <td class="text-muted" colspan="5">Expected Salary :</td>
        <td colspan="2">{{ job['Salary']}}</td>
</table>

<h3 class="my-3 ms-5 display-4">Job Responsibilities</h3>
    <ol>
        {% for points in job.Responsibilities.split("\n") %}
        <li class="my-2 ms-5">{{ points }}</li>
         {% endfor %}
    </ol>

    <h3 class="my-3 ms-5 display-4">Job Requirements</h3>

    <ol>
        {% for points in job.Requirements.split("\n") %}
        <li class="my-2 ms-5">{{ points }}</li>
        {% endfor %}
    </ol>
<div class="d-grid gap-2 col-1 mx-auto">
    <a href="/jobs/{{ job['ID']}}/{{ job['Title']}}" class="btn btn-outline-primary btn-lg py-2 ms-6">Apply</a>
</div>
{% include 'footer.html' %}
</body>
</html>